header .input-search-mobile {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
header .input-search-mobile input {
  width: 40%;
  border: none;
  height: 30px;
}
header .input-search-mobile .fa-x {
  position: absolute;
  right: 5%;
}
header .header_top {
  background-color: #f68e2e;
}
header .header_top .top_left p {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
}
header .header_top .top_right ul {
  margin-top: 5px;
  margin-bottom: 0;
}
header .header_top .top_right ul li {
  display: inline-block;
}
header .header_top .top_right ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  margin: 5px 0;
  transition: 0.5s;
}
header .header_bottom {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
header .header_bottom .content .logo {
  text-align: center;
}
header .header_bottom .content .content-search {
  height: 40px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f68e2e;
  padding: 10px;
  border-radius: 5px;
}
@media screen and (min-width: 991px) {
  header .header_bottom .content .content-search {
    width: 372px;
  }
}
@media screen and (min-width: 1200px) {
  header .header_bottom .content .content-search {
    width: 454px;
  }
}
header .header_bottom .content .content-search input {
  width: 190%;
  border: none;
}
header .header_bottom .content .content-contact {
  display: flex;
  text-align: right;
}
header .header_bottom .content .content-contact .address,
header .header_bottom .content .content-contact .hotline {
  padding-left: 20px;
  text-align: center;
  cursor: pointer;
}
header .header_bottom .content .content-contact .address p,
header .header_bottom .content .content-contact .hotline p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
}
header .header_bottom .content .content-contact .address a,
header .header_bottom .content .content-contact .hotline a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #ff0000;
}
header .header_bottom .content .content-contact .address a:hover,
header .header_bottom .content .content-contact .hotline a:hover {
  color: #f68e2e;
}
header .header_bottom .content .content-contact .cart {
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}
header .header_bottom .content .content-contact .search-mobile {
  display: none;
}
@media screen and (max-width: 991px) {
  header .header_top .top_left {
    justify-content: center;
    text-align: center;
  }
  header .header_top .top_right {
    display: none;
  }
  header .header_bottom .content .logo {
    text-align: center;
  }
  header .header_bottom .content .content-search {
    display: none;
  }
  header .header_bottom .content .content-contact .hotline {
    display: none;
  }
  header .header_bottom .content .content-contact .address {
    display: none;
  }
  header .header_bottom .content .content-contact .search-mobile {
    display: block;
  }
}
header .main-nav .nav-content .main-menu {
  background-color: #f68e2e;
}
header .main-nav .nav-content .navbar-main {
  justify-content: space-around;
}/*# sourceMappingURL=main.css.map */