// color
$color-black-0: #000;
$color-black-1: #1c1c1c;
$color-white-0: #fff;
$color-gray-0: #363f4d;
$color-orange-0: #f68e2e;
$color-red-0: #ff0000;

//font-size
$fs-0: 12px;
$fs-1: 13px;
$fs-2: 14px;
$fs-3: 18px;


//font-wetght
$fw-0: normal;
$fw-1: 500;
$fw-2: 600;
$fw-3: 700;

//line-height


//margin


//padding


//border-radius 


// break points
$breakpoints:(
    'extra-extra-large':1350px,
    'extra-large':1200px,
    'large':992px,
    'medium':768px,
    'small':576px,
    'extra-small':575.98px,

)