// color
$color-black-0: #000;
$color-black-1: #1c1c1c;
$color-white-0: #fff;
$color-white-1: #ffffff;
$color-gray-0: #363f4d;
$color-orange-0: #f68e2e;
$color-red-0: #ff0000;

//font-size
$fs-0: 12px;
$fs-1: 13px;
$fs-2: 14px;
$fs-3: 18px;


//font-wetght
$fw-0: normal;
$fw-1: 500;
$fw-2: 600;
$fw-3: 700;

//line-height


//margin
$mg-0: 5px;
$mg-1: 25px;
$mg-2: 20px;
$mg-3: 32px;
$mg-4: 40px;
$mg-5: 15px;
$mg-6: 10px;

//padding
$pd-0: 10px;
$pd-1: 15px;
$pd-2: 5px;
$pd-3: 20px;
$pd-4: 32px;

//border-radius 
$border-radius-0: 5px;

// break points
$breakpoints:(
    'extra-extra-large':1350px,
    'extra-large':1200px,
    'large':992px,
    'medium':768px,
    'small':576px,
    'extra-small':575.98px,

)